.Footer{
    color:white;
    background-color:#323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 100px;
}

.footerContent{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
}

.footer-content-left, .footer-content-right, .footer-content-center{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    cursor: pointer;
}

.footer-content-left li, .footer-content-right li, .footer-content-center li{
    list-style: none;
    margin-bottom: 10px;
}
.footer-content-right h2, .footer-content-center h2{
    color: white;
}

.Footer hr{
    height: 2px;
    width: 100%;
    margin: 20px 0px;
    background-color: grey;
    border: none;
}

.Footer img{
  height: 200px;
  width:200px;
}

@media (max-width: 750px) {
  .footerContent {
    display: flex;
    flex-direction: column;
    gap: 35px;
    text-align: center;
  }

  .footer-content-left,
  .footer-content-right,
  .footer-content-center {
    align-items: center;
  }

  .footer-content-left img {
    margin: auto;
    width: 120px;
  }

  .footer-copyright {
    text-align: center;
    font-size: 14px;
  }
}
